.feynman {
    position: relative;
    background-image: url(../../images/feynman.png);
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: left bottom;
    min-height: 890px;
    background-color: #f2f2f2;
  }