.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: flex-start;
  align-items:center;
  background-color: #f2f2f2;
  position: relative;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: 1;
}
.header__title{
  display: flex;
  width: 730px;
  margin-left:  64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 5;
}
.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 4;
}
.header__link{
text-decoration:none;
color: #2f80ed;
}
.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}
.logo {
background-image: url(../images/logo_place_header.svg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
width: 183px;
height: 32px;
}
.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
}
.logo__place_footer{
height: 35px;
top: 0;
left: 0;
}

.description{
  display: flex;
  justify-content: space-between;
}
.two-columns{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 100px auto 0;
  width: 80%;
}
.two-columns__brief{
width: 175px;
line-height: 1.2;
font-size: 18px;
font-weight: normal;
color: #2f80ed;
}
.two-columns__main-text{
  display: flex;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  flex-direction: column;
  justify-content: space-between;
  }
  .two-columns__paragraph{
    margin: 0%;
  }
.two-columns__paragraph:nth-child(2){
  margin: 30px auto;
  }
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  }
  .digits{
  margin:  100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .section-title{
    width: 60%;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
  }
  .section-subtitle{
   width: 60%;
   margin: 20px 0 0 ; 
   text-align: center;
   line-height: 34px;
   font-size: 24px;
   font-weight: normal;
  }
  .table{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
  }
  .table__cell{ 
    width: 250px;
    margin-top: 60px;
      }
  .table__heading{ 
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .table__text{ 
    margin: 20px auto;
    line-height: 1.2;
    font-size:  18px;
    font-weight: normal;
  }
  .table__text_author{
    margin: 0;
  }
.feynman{
  position: relative;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom ;
  height: 890px;
  background-color: #f2f2f2;
  margin: o;
}
.feynman__title{
  width: 648px;
  margin: 100px auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}
.feynman__subtitle{
  margin-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link{
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration:none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}
.kaufman{
  background-color: #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.kaufman__triangle{
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 1;
}
.section-title_theme_dark{
  width: 60%;
  margin-top: 90px;
  text-align: center;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 2;
}
.section-subtitle_theme_dark{
  margin-bottom: 0;
  width: 60%;
  text-align: center;
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 2;
}
.table_theme_dark{
  margin: 0 auto 90px;
  z-index: 2;
}
.table__heading_theme_dark{
line-height: 1.15;
font-size: 24px;
font-weight: bold;
}
.table__text_theme_dark{
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.footer{
  display: flex;
  flex-direction: row;
  background-color: #1f1f1f;
  min-height: 350px;
  color: white;
}
.footer__columns{
  display: flex;
  justify-content: space-around;
  width: 90%; 
  margin: 60px auto 40px;
 }
.footer__column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}
.footer__column_important-info{
display: flex;
width: 50%;
align-items: flex-start;
justify-content: space-around;
}
.footer__column_content_info{
  margin: 0 auto;
}
.footer__column_content_social{
  padding: 0;
  margin: 0;
}
.footer__column_heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;  
  white-space: nowrap;
  list-style-type: none;
}
.footer__column_links{
margin-top: 20px;
margin-bottom: 16px;
padding: 0;
}
.footer__column_link{
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
}
.footer__column_link a{
  color:  white;
  text-decoration: none;
}
.footer__social-icon{
height: 16px;
width: 16px;
margin-right: 10px;;
list-style-type: none;
}
.footer_author{
  margin: 18px 0;
  align-items: flex-start;
}